.slide {
}

/* Arranger l'overlay de la façon indiquée dans la capture d'écran "Etape 2". */
.slide .overlay {
}
.slide .overlay_title {
}

/* Agencer les vignettes de la façon indiquée dans la capture d'écran "Etape 3". Le curseur les survolant doit 
être défini en tant que pointeur. */
