html,body {
	width:100%;
	min-height:100%;
	margin:0;
	font-family:Arial, sans-serif;
	font-size:12pt;
	position:relative;
}

header{
	animation: fadeIn 0.5s linear;
	height:40px;
	width:100%;
	background-color:black;
	color:#FFF;
	
}

header h1{
	font-size:30px;
	line-height:40px;
	text-transform:uppercase;
	margin:0;
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	vertical-align: top;
}

header nav{
	vertical-align: top;
	display:inline-block;
	height:100%;
}

header nav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	height:100%;
}

header nav ul li{
	display:inline-block;
	margin:0;
	height:100%;
	width:150px;
	text-align:center;
}

header nav ul li a{
	display:block;
	width:100%;
	height:100%;
	line-height:40px;
	color:#FFF;
	text-decoration:none;
	transition: background-color 0.25s linear;
}

header nav ul li a:hover{
	background-color:#333;
}

.home{
	width:100%;
	
}

.home article{
	animation: slideInFromLeft 0.5s ease-out;
	width:70%;
	float:left;
	box-sizing:border-box;
	padding:10px;
	margin-bottom:160px;
}

.home article h2{
	text-align:justify;
	text-transform:uppercase;
}

.home article img{
	max-width:30%;
	margin-right:10px;
	float:left;
}

.home article p{
	text-align:justify;
}

.home article a{
	
	color:red;
	text-decoration:none;
	float:right;
}

.home article a:hover{
	animation:wriggle 0.5s linear;
	text-decoration:underline;
}

.home aside{
	animation:slideInFromRight 0.5s ease-out;
	margin-top:20px;
	box-sizing:border-box;
	width:30%;
	padding:10px;
	float:right;
	background-color:#EEE;
	border-radius:10px;
}

.home aside ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.home aside ul li{
	margin:5px;
}

.home aside ul li a{
	color:#000;
	text-decoration:none;
	transition: color 0.25s linear;
}

.home aside ul li a:hover{
	color:#555;
}

footer{
	color:white;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:150px;
	background-color:#000;
	padding:10px;
	box-sizing:border-box;
	animation: fadeIn 0.5s linear;
}

footer h3{
	animation:rainbow 5s linear alternate infinite;
}

footer ul{
	list-style-type:none;
} 

footer a{
	color:#AAA;
	text-decoration:none;
}

footer a:hover{
	text-decoration:underline;
}

footer address
{
	position:absolute;
	text-align:right;
	bottom:10px;
	right:10px;
}

footer address a{
	display:block;
	transition:font-size 0.25s linear;
}

footer address a:hover{
	text-decoration:none;
	font-size:14pt;
}

@media screen and (max-width: 768px) { 
	header ul li a, .home article p, .home aside a{
		font-size:1.2em;
	}
	
	.home article{
		width:100%;
		margin-bottom:0px;
	}
	
	.home article img{
		max-width:50%;
	}
	
	.home aside{
		width:100%;
		margin-bottom:250px;
	}	
}

#open, #close{
	display:none;
}

@media screen and (max-width: 630px) { 
	
	header{
		text-align:center;
	}

	header nav{
		position:fixed;
		z-index:2;
		background-color:#000;
		width:250px;
		height:100vh;
		left:0;
		transform:translateX(-250px);
		transition:transform 0.25s ease-in-out;
	}
	
	
	
	header nav.open{
		transform:translateX(0px);
	}
	
	header nav ul{
		height:auto;
		margin-top:40px;
	}
	
	header nav ul li, header nav ul li a{
		height:auto;
	}
	
	#open{
		display:block;
		position:fixed;
		height:30px;
		left:10px;
		top:5px;
		background-color:white;
		border:0;
		border-radius:10px;
	}
	
	#open img{
		max-height:100%;
	}
	
	#close{
		display:block;
		position:absolute;
		top:10px;
		right:10px;
		font-size:2em;
		color:#FFF;
		background-color:transparent;
		border:none;
	}
	
	
	.home article{
		margin-top:40px;
	}
	
	.home article img{
		max-width:100%;
	}
}

@keyframes fadeIn{
	from { opacity:0; }
	to { opacity:1; }
}

@keyframes slideInFromLeft{
	from { transform:translateX(-100%); }
	to { transform:translateX(0); }
}

@keyframes slideInFromRight{
	from { transform:translateX(100%); }
	to { transform:translateX(0); }
}

@keyframes rainbow{
	0%{ color:red }
	25%{ color:green }
	50%{ color:yellow }
	75%{ color:pink }
	100%{ color:white }
}

@keyframes wriggle{
	0%,100%{transform:translateX(0)}
	25%,75%{transform:translateX(-10px)}
	50%{transform:translateX(10px)}
}


	